article{
    align-items: center;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

h4{
    font-family: 'Open Sans', sans-serif;
}

.nsei{
    height: 100px;
    width: 100px;
    background-color: white;
}   

.texto{
    display: flex;
    height: 100px;
    text-align: center;
    width: 40vw;
}

article div{
    align-items: center;
    display: flex;
    flex-direction: column;
}