
body{
    display: grid;
    grid-template-areas:  'header' 'header' 'header' 'header'
                          'section' 'section' 'section' 'section'                        
                          'main' 'main' 'main' 'main' 
                          'footer' 'footer' 'footer' 'footer';
    grid-template-rows: 10vh 68vh 90vh 10vh ;
    margin: 0;    
}

body::-webkit-scrollbar{
    background: transparent;
    width: 0px;
}

header{
    display: flex;
    background-color: rgb(48, 240, 193);
    grid-area: 'header';
    justify-content: space-around;
}

#Menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#Menu img {
    width: 65px;
    height: 65px;
}

#Menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 40%; 
}

#Menu ul li{
    align-items: center;
    border-right: solid 1px black;
    display: flex;
    justify-content: center;
    width: 100%;
}

#Menu ul li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

section{
    background-image: url(/static/img/bannerc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    grid-area: 'section';
    height: 450px;
    justify-content: flex-start;
    width: 100%;
}

main{
    background-color: aquamarine;
    grid-area: 'main';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main div mapouter{
    align-items:center; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.abc{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icones img{
    height: 60px;
    width: 60px;
}

footer{
    background-color: rgb(181, 253, 254);
    display: flex;
    grid-area: 'footer';
    flex-direction: row;
    justify-content: space-around;
}

.info{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 50%;
    width: 50%;
}
.info a{
    color: black;
    display: flex;
    text-decoration: none;
}

.sociais img{
    height: 60px;
    width: 60px;
}

.sociais{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 50px;
    width: 60px;
}

