{% extends 'shared/layout.html' %}
{% block conteudo %}

{% load static %}


<section>

</section>

<main class="main">
    <div class="divmae">
        <div class="textosection">
            <p>Para os usuários de medicamentos em geral que não possuem informações adequadas, sobre a efetuação do
                descarte correto de medicamentos.</p>
        </div>
        <div class="abc">
            <div class="icones">
                
            </div>
            <h2>
                Missão
            </h2>
            <p>
                Reduzir Impacto Ambiental causado pelo descarte incorreto de medicamento.
            </p>
        </div>
        <div class="abc">
            <div class="icones">
                
            </div>
            <h2>
                Visão
            </h2>
            <p>
                Ter polos de coletas em ampla escala.
            </p>
        </div>
        <div class="abc">
            <div class="icones">
               
            </div>
            <h2>
                Valores
            </h2>
            <p>
                Honestidade, Respeito, Comprometimento e Lealdade com a Natureza.
            </p>
        </div>
    </div>
</main>

{% endblock %}