{% extends 'shared/layout.html'%}
{% block conteudo %}
<aside>
    <form action="">
        <div class="acesso">
            <h1>Login:</h1>
            <p>
                Faça seu login em nosso site.
            </p>
        </div>
        <div class="input">
            <label for="">Email</label>
            <input type="email" name="" id="email">
            <label for="">Senha</label>
            <input type="password" name="" id="senha">
            <input type="button" value="Enviar">
        </div>
    </form>
</aside>
{% endblock %}