{% extends 'shared/layout.html'%}
{% block conteudo %}

{% load staticfiles %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

<aside>
    <form action="">
        <div class="acesso">
            <h1>Login</h1>
        </div>
        <div class="input">
            <input type="email" name="" id="email" placeholder="Email">
            <input type="password" name="" id="senha" placeholder="Senha">
            <input type="button" value="Enviar">
        </div>
    </form>
</aside>
    
{% endblock %}