{% extends "base.html" %}

{% block titulo %}
    Resultados
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/resultados.css' %}">
{% endblock %}

<section>
    <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam doloribus natus ad? Eligendi assumenda unde, iste soluta, neque ad quia similique nesciunt atque debitis quos tenetur quis eos velit accusantium.
        </p>
    </div>
</section>

<main>
    <p>
        Medicamentos descartados.
    </p>
    <div>
        
    </div>
</main>
